.otaku-logo-img {
    display: none
}
.otaku-logo {
    display: none;
}
@media screen and (max-width: 768px) {
    .otaku-logo-img {
        display: block;
        width: 46px;
        height: 46px;
    }
    .otaku-logo {
        display: block;
        float: left;
        width: 0px;
        padding-top: 6px;
    }
}